<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<setting>
    <comPort>COM2</comPort>
    <comSpeed>9600</comSpeed>
    <cutTool>
        <face></face>
        <name>Yc</name>
        <value>7</value>
        <ypos>3500.0</ypos>
    </cutTool>
    <dataLength>8-bit</dataLength>
    <faceATools>
        <face>A</face>
        <name>1</name>
        <value>1</value>
        <ypos>3000.0</ypos>
    </faceATools>
    <faceATools>
        <face>A</face>
        <name>2</name>
        <value>2</value>
        <ypos>2500.0</ypos>
    </faceATools>
    <faceATools>
        <face>A</face>
        <name>3</name>
        <value>3</value>
        <ypos>2000.0</ypos>
    </faceATools>
    <faceBTools>
        <face>B</face>
        <name>1</name>
        <value>4</value>
        <ypos>1500.0</ypos>
    </faceBTools>
    <faceBTools>
        <face>B</face>
        <name>2</name>
        <value>5</value>
        <ypos>1000.0</ypos>
    </faceBTools>
    <faceBTools>
        <face>B</face>
        <name>3</name>
        <value>6</value>
        <ypos>500.0</ypos>
    </faceBTools>
    <parity>None</parity>
    <stopBit>1-bit</stopBit>
    <textTool>
        <face></face>
        <name>Ym</name>
        <value>0</value>
        <ypos>250.0</ypos>
    </textTool>
</setting>
